* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
/* Header */
header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 45px;
}
/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  height: 80px;
}
header::before{
  content: "";
  background-color: #241968;
  position: absolute;
  top:8px;
  left:0px;
  height: 80%;
  width:100%;
  z-index: -1;
  opacity: 0.2;
  border-radius: 50px;
}
/* Navigation Bar:name */
#name-nav
{
  font-size: 3rem;
 font-family: 'Baloo Bhai', cursive;
 text-shadow: 3px 3px rgb(255 255 255); 
}
#name-nav a
{
  color: rgb(254 146 0);
 text-decoration: none;
}
/* Navigation Bar: List Styling */
#navbar ul
{
  display: flex;
  font-family: 'Baloo Bhai', cursive;
}
#navbar ul li
{ 
  list-style: none;
  font-size: 1.2rem;
  margin: auto 5px;
}
#navbar ul li a
{
  /* color: #531cf5; */
  color: white;
  display: block;
  padding: 4px 18px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover{
  color: black;
  background-color:#7160d9;
  text-decoration: underline;
}
#navbar ul #active a {
  border: 3px solid rgb(129 127 231);
  border-radius: 30px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
}
/* About us Section */
#aboutus{
  display: flex;
  margin: 25px auto;
  flex-direction:column;
  padding:20px 20px;
  width: 65%;
  /* height: 550px; */
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 10px solid rgb(39 0 255 / 30%);
  box-shadow: 0px 0px 35px #4b00ffc7;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
@keyframes color-change 
{
  0%{
      box-shadow: 0px 0px 35px #4b00ffc7;
    }
    50%{
      box-shadow: 0px 0px 50px 20px  #4b00ffc7;
    }
    100%{
      box-shadow: 0px 0px 35px #4b00ffc7;
  }
}
html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* #aboutus::before{ 
  content: "";
  position:absolute;
  background: url('bg.jpg') no-repeat center center/cover;
  top:0px;
  left:0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity:0.89;
} */
#aboutus img
{
  display: block;
  height: 200px;
  width: 200px;
  margin: auto;
  border: 7px solid rgb(5 255 59 / 40%);
  box-shadow: 0px 0px 15px #1fff04;
  border-radius: 100px;
}
#aboutus h1{
  color:#4b00f8e0;
  text-align: center;
  font-family: 'Bree Serif', serif;
}
#aboutus p{
  font-family: 'Open Sans', sans-serif;
  /* color:#7306ffeb; */
  color: black;
  text-align: center;
  font-size: 1.8vw;
  list-style-position: inside;
  padding: 5px 0px;
}
#aboutus li{
  font-family: 'Bree Serif', serif;
  color:#7306ffeb;
  text-align: center;
  font-size: 1.8vw;
  list-style-position: inside;
  padding: 5px 0px;
}

/* Extra classes */
#first-head{
  font-family: 'Bree Serif', serif;
  font-size: 3.5rem;
  padding: 12px;
  text-decoration: underline;
}

#second-head{
  font-family: 'Bree Serif', serif;
  font-size: 2rem;
  padding: 12px;
  text-decoration: wavy;
  text-decoration-line: underline;
}

.star-rating {
  /* color: #37c20f; */
  color:#7306ffeb
}
